In [1]:
"""
날짜 : 2023/01/13
이름 : 김동민
내용 : 파이썬 데이터베이스 실습
"""
import pymysql

In [2]:
#insert 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                       user='root',
                       password='1234',
                       db='java2db',
                       charset='utf8')
# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "insert into `user3` values('a105','김춘추','010-1245-1245',12)"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close
print('insert 완료')

insert 완료

In [6]:
# update 실습

# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                       user='root',
                       password='1234',
                       db='java2db',
                       charset='utf8')
# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql =  "update `user3` set "
sql += "`name` = '홍길동',"
sql += "`hp`=`010-1211-1010`,"
sql += "`age`=22 "
sql += "where `uid`='a101'"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close
print('update 완료')

OperationalError: (1054, "Unknown column '010-1211-1010' in 'field list'")

In [13]:
# select 실습
from Ch08.User3VO import User3VO
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                       user='root',
                       password='1234',
                       db='java2db',
                       charset='utf8')
# SQL 실행객체
cur = conn.cursor()

# SQL 실행
cur.execute("select*from `user3`")
conn.commit()
# r결과 출력
users = []
for row in cur.fetchall():
    user = User3VO(row[0],row[1],row[2],row[3])
    users.append(user)
# 데이터베이스 종료
conn.close
print('update 완료')

for user in users:
    print('-----------')
    print('아이디 :', user.uid)
    print('이름 :', user.name)
    print('휴대폰 :', user.hp)
    print('나이 :', user.age)

ModuleNotFoundError: No module named 'Ch08'